<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_V2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.5506E-05 0.0015009 0.020472"
        rpy="0 0 0" />
      <mass
        value="0.20537" />
      <inertia
        ixx="0.0001168"
        ixy="-1.3436E-21"
        ixz="-7.2685E-21"
        iyy="0.00013342"
        iyz="-2.2758E-06"
        izz="0.00017603" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.7923E-05 -4.4959E-05 0.026896"
        rpy="0 0 0" />
      <mass
        value="0.10742" />
      <inertia
        ixx="3.0472E-05"
        ixy="-2.5011E-22"
        ixz="-1.6625E-07"
        iyy="3.1459E-05"
        iyz="-3.8538E-22"
        izz="4.467E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="continuous">
    <origin
      xyz="0.00039 0.00089 0.0403"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.075359 -3.7896E-05 4.2545E-05"
        rpy="0 0 0" />
      <mass
        value="0.12744" />
      <inertia
        ixx="2.5339E-05"
        ixy="-3.5405E-21"
        ixz="1.4271E-07"
        iyy="8.5738E-05"
        iyz="-1.7196E-20"
        izz="7.3468E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="continuous">
    <origin
      xyz="0 -0.00014 0.06111"
      rpy="0 -1.5708 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.078062 -1.9266E-05 -0.00017825"
        rpy="0 0 0" />
      <mass
        value="0.13481" />
      <inertia
        ixx="2.7111E-05"
        ixy="1.7533E-07"
        ixz="3.1947E-07"
        iyy="9.833E-05"
        iyz="-5.1621E-10"
        izz="8.9024E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="continuous">
    <origin
      xyz="0.13511 -0.00014 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.027076 2.3636E-17 -0.0001"
        rpy="0 0 0" />
      <mass
        value="0.034066" />
      <inertia
        ixx="7.4962E-06"
        ixy="-9.5984E-22"
        ixz="1.6078E-21"
        iyy="1.0975E-05"
        iyz="1.8049E-21"
        izz="6.9793E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://facadebot_description/meshes/v2/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="continuous">
    <origin
      xyz="0.14011 0 -0.00076"
      rpy="-1.5708 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>